@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

:root {
    /* -----------THEME 1------------- */
    /* -----------BACKGROUND------------- */

    --theme-1-main-background: hsl(222, 26%, 31%);
    --theme-1-toggle-background: hsl(223, 31%, 20%);
    --theme-1-screen-background: hsl(224, 36%, 15%);

    /* -----------KEYS------------- */

    --theme-1-key-background: hsl(225, 21%, 49%);
    --theme-1-key-shadow: hsl(224, 28%, 35%);
    --theme-1-key-background-2: hsl(6, 63%, 50%);
    --theme-1-key-shadow-2: hsl(6, 70%, 34%);
    --theme-1-key-background-3: hsl(30, 25%, 89%);
    --theme-1-key-shadow-3: hsl(28, 16%, 65%);

    /* -----------TEXT------------- */

    --theme-1-text: hsl(221, 14%, 31%);

    /* -----------THEME 2------------- */
    /* -----------BACKGROUND------------- */

    --theme-2-main-background: hsl(0, 0%, 90%);
    --theme-2-toggle-background: hsl(0, 5%, 81%);
    --theme-2-screen-background: hsl(0, 0%, 93%);

    /* -----------KEYS------------- */

    --theme-2-key-background: hsl(185, 42%, 37%);
    --theme-2-key-shadow: hsl(185, 58%, 25%);
    --theme-2-key-background-2: hsl(25, 98%, 40%);
    --theme-2-key-shadow-2: hsl(25, 99%, 27%);
    --theme-2-key-background-3: hsl(45, 7%, 89%);
    --theme-2-key-shadow-3: hsl(35, 11%, 61%);

    /* -----------TEXT------------- */

    --theme-2-text: hsl(60, 10%, 19%);

    /* -----------THEME 3------------- */
    /* -----------BACKGROUND------------- */

    --theme-3-main-background: hsl(268, 75%, 9%);
    --theme-3-toggle-background: hsl(268, 71%, 12%);

    /* -----------KEYS------------- */

    --theme-3-key-background: hsl(281, 89%, 26%);
    --theme-3-key-shadow: hsl(285, 91%, 52%);
    --theme-3-key-background-2: hsl(176, 100%, 44%);
    --theme-3-key-shadow-2: hsl(177, 92%, 70%);
    --theme-3-key-background-3: hsl(268, 47%, 21%);
    --theme-3-key-shadow-3: hsl(290, 70%, 36%);

    /* -----------TEXT------------- */

    --theme-3-text: hsl(52, 100%, 62%);
    --theme-3-text-2: hsl(198, 20%, 13%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}
a {
    cursor: pointer;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100dvh;

    background-color: var(--theme-1-main-background);
}
section {
    display: flex;
    flex-direction: column;

    width: clamp(100px, 382.48px, 500px);
    height: 80%;
}
input {
    width: 100%;
    height: 90%;
    border-radius: 7px;
    border: none;
    outline: none;
    background-color: var(--theme-1-screen-background);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: #fff;
    font-size: 2.5rem;
    padding: 0 1.5rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
.themes {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 10%;
}
.themes-text {
    width: 83%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.themes-text h2 {
    color: #fff;
}
.themes-text span {
    font-size: 0.5rem;
    letter-spacing: 1px;
    color: var(--theme-1-key-background-3);
}
.themes-button {
    width: 13%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.themes-button-text {
    width: 75%;
    height: 30%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.themes-button-text span {
    font-size: 0.5rem;
    color: var(--theme-1-key-background-3);
}
.themes-button-slider {
    width: 100%;
    height: 35%;
    position: relative;

    display: flex;

    border: 1px solid var(--theme-1-toggle-background);
    background-color: var(--theme-1-toggle-background);
    border-radius: 15px;
}
.themes-button-slider a {
    width: 33%;
    height: 100%;
    z-index: 1;
}
.themes-button-slider a:nth-child(2) {
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}
.themes-button-slider a:nth-child(4) {
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
}
.themes-button-slider-circle {
    position: absolute;
    width: 0.75rem;
    height: 0.65rem;
    border: none;
    outline: none;
    border-radius: 50%;
    margin-top: 0.15rem;
    margin-left: 0.17rem;
    background-color: var(--theme-1-key-background-2);
}
.input {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 20%;
}
.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 65%;
    margin-top: 1rem;
    border: none;
    border-radius: 7px;
    padding: 1.3rem 1rem;
    background-color: var(--theme-1-toggle-background);
}
.buttons-small {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: minmax(1fr, auto);
    gap: 1;
    width: 100%;
    height: 77%;
    justify-items: center;
    align-content: space-between;
}
.buttons-small button {
    font-size: 1.75rem;
    padding: 0.5rem 1.7rem;
    border-radius: 7px;
    border: none;
    border-bottom: 3px solid var(--theme-1-key-shadow-3);
    background-color: var(--theme-1-key-background-3);
    color: var(--theme-1-text);
    outline: none;
    cursor: pointer;
    transition: 0.2s all;
}
.buttons-small button:hover {
    background-color: #fff;
    transition: 0.2s all;
}
.buttons-small button:nth-child(4) {
    font-size: 1.25rem;
    padding: 0.6rem 1.1rem;
    border: none;
    border-bottom: 3px solid var(--theme-1-key-shadow);
    background-color: var(--theme-1-key-background);
    color: var(--theme-1-key-background-3);
}
.buttons-small button:nth-child(4):hover {
    background-color: #A3B2E0;
}
.buttons-large {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 16%;
}
.buttons-large button {
    font-size: 1.25rem;
    padding: 0.7rem 4.4rem;
    border: none;
    border-radius: 7px;
    outline: none;
    border-bottom: 3px solid var(--theme-1-key-shadow-2);
    background-color: var(--theme-1-key-background-2);
    color: var(--theme-1-key-background-3);
    cursor: pointer;
    transition: 0.2s all;
}
.buttons-large button:hover {
    background-color: #F96C5B;
}
.buttons-large button:nth-child(1) {
    font-size: 1.25rem;
    padding: 0.7rem 3.1rem;
    border-bottom: 3px solid var(--theme-1-key-shadow);
    background-color: var(--theme-1-key-background);
    color: var(--theme-1-key-background-3);
}
.buttons-large button:nth-child(1):hover {
    background-color: #A3B2E0;
    transition: 0.2s all;
}