@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

:root {
    /* -----------THEME 1------------- */
    /* -----------BACKGROUND------------- */

    --theme-1-main-background: hsl(222, 26%, 31%);
    --theme-1-toggle-background: hsl(223, 31%, 20%);
    --theme-1-screen-background: hsl(224, 36%, 15%);

    /* -----------KEYS------------- */

    --theme-1-key-background: hsl(225, 21%, 49%);
    --theme-1-key-shadow: hsl(224, 28%, 35%);
    --theme-1-key-background-2: hsl(6, 63%, 50%);
    --theme-1-key-shadow-1: hsl(6, 70%, 34%);
    --theme-1-key-background-3: hsl(30, 25%, 89%);
    --theme-1-key-shadow-3: hsl(28, 16%, 65%);

    /* -----------TEXT------------- */

    --theme-1-text: hsl(221, 14%, 31%);

    /* -----------THEME 2------------- */
    /* -----------BACKGROUND------------- */

    --theme-2-main-background: hsl(0, 0%, 90%);
    --theme-2-toggle-background: hsl(0, 5%, 81%);
    --theme-2-screen-background: hsl(0, 0%, 93%);

    /* -----------KEYS------------- */

    --theme-2-key-background: hsl(185, 42%, 37%);
    --theme-2-key-shadow: hsl(185, 58%, 25%);
    --theme-2-key-background-2: hsl(25, 98%, 40%);
    --theme-2-key-shadow-1: hsl(25, 99%, 27%);
    --theme-2-key-background-3: hsl(45, 7%, 89%);
    --theme-2-key-shadow-3: hsl(35, 11%, 61%);

    /* -----------TEXT------------- */

    --theme-2-text: hsl(60, 10%, 19%);

    /* -----------THEME 3------------- */
    /* -----------BACKGROUND------------- */

    --theme-3-main-background: hsl(268, 75%, 9%);
    --theme-3-toggle-background: hsl(268, 71%, 12%);

    /* -----------KEYS------------- */

    --theme-3-key-background: hsl(281, 89%, 26%);
    --theme-3-key-shadow: hsl(285, 91%, 52%);
    --theme-3-key-background-2: hsl(176, 100%, 44%);
    --theme-3-key-shadow-1: hsl(177, 92%, 70%);
    --theme-3-key-background-3: hsl(268, 47%, 21%);
    --theme-3-key-shadow-3: hsl(290, 70%, 36%);

    /* -----------TEXT------------- */

    --theme-3-text: hsl(52, 100%, 62%);
    --theme-3-text-2: hsl(198, 20%, 13%);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', sans-serif;
}
main {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100dvh;
}
section {
    display: flex;
    flex-direction: column;

    width: 28%;
    height: 80%;
}